.grid-container-main {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-element {
  text-align: center;
}

.searchForm {
  /* padding: 80px 10px; */
}

.error {
  color: white;
  background: red;
}

.textBox {
  /* height: 33px; */
  /* padding-top: 10px; */
}

.body {
  color: #fff;
  background: #333;
}