.topnav {
    padding: 15px 15px;
    text-align: center;
    /* font-weight: 1000; */
    padding-left: 10px;
}

.img {
    height: 40px;
    width: 60px;
}

.invertImg {
    height: 40px;
    width: 60px;
    filter: invert(100%);
}

.grid-container-main {
    display: grid;
    grid-template-columns: auto auto auto;
}

.mainText {
    text-align: center;
}
